<h2>Ticket Booking</h2>

<form [formGroup]="ticketBookingForm" (ngSubmit)="onSubmit()">

  <input type="number" placeholder="Booking ID" formControlName="bookingId" />
  <input type="email" placeholder="Email" formControlName="email" />
  <input type="number" placeholder="Match ID" formControlName="matchId" />
  <input type="number" placeholder="Number Of Tickets" formControlName="numberOfTickets" />

  <br /><br />

  <button type="submit">Book Tickets</button>
  <button type="button" (click)="resetForm()">Reset</button>

</form>

<p *ngIf="successMessage">{{ successMessage }}</p>
<p *ngIf="errorMessage">{{ errorMessage }}</p>